@CHARSET "UTF-8";

h1 {
	margin: 30px 0;
	padding: 0 200px 15px 0;
	border-bottom: 1px solid #E5E5E5;
}

.container {
	margin-top: 10px;
}

.btn {
	background: #026f94;
}

fieldset {
	font-family: sans-serif;
	border: 5px solid white;
	background: white;
	border-radius: 5px;
	padding: 15px;
	margin-top: 10px;
}

fieldset legend {
	background: #FFF;
 	color: #026f94; 
 	padding: 2px 4px;
 	font-size: 32px; 
 	border-radius: 5px 5px 0px 0px;
 	border-color: #00c8d0; 
 	border-width: 0px 0px 3px;
 	margin-left: 10px;
 	margin-right: 60px;
}

.form-group {
	margin-top: 5px;
	margin-bottom: 5px;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

body {
	background-color: #DDDDDD;
}

body .fa {
	font-size: 2.5em;
	width: 1.6em;
	height: 1.5em;
	text-align: center;
}

.fa {
	color: #efefef;
}

.fa.fa-cc-amex.active {
	color: #007bc1;
}

.fa.fa-cc-discover.active {
	color: #f68121;
}

.fa.fa-cc-jcb.active {
	color: #003a8f;
}

.fa.fa-cc-mastercard.active {
	color: #0a3a82;
}

.fa.fa-cc-visa.active {
	color: #0157a2;
}

html {
	box-sizing: border-box;
	font-size: 14px;
	font-family: "Arial", sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.input-text {
	margin-bottom: 1rem;
	position: relative;
	font-size: 0.9rem;
}

.input-text .input-text__input--populated {
	border-color: #2E2F32;
}

.input-text input:hover {
	border-color: #acaeb3;
}

.input-text input:focus {
	border-color: #2E2F32;
}

.input-text.input-text--validatable .input-text__input--invalid {
	border-color: rgba(255, 110, 171, 0.5);
}

.input-text.input-text--validatable .input-text__input--invalid:focus,
	.input-text.input-text--validatable .input-text__input--invalid:hover {
	border-bottom-color: #ff6eab;
}

.input-text input {
	width: 100%;
}

.input-text input.input-text__input--populated+label, .input-text input:focus+label
	{
	opacity: 0.5;
	font-size: 0.9rem;
	-webkit-transform: translate3d(0, -1.7rem, 0);
	transform: translate3d(0, -1.7rem, 0);
}

.input-text label {
	-webkit-transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
	opacity: 0.7;
	-webkit-transition-timing-function: cubic-bezier(0.35, 0.85, 0.2, 1.2);
	transition-timing-function: cubic-bezier(0.35, 0.85, 0.2, 1.2);
	cursor: text;
	padding: 0.75rem 0.5rem;
	position: absolute;
	top: 0;
	left: 0;
	will-change: opacity, transform;
}

.input-text--validatable .input-text__input--invalid+label {
	color: #de496c;
	opacity: 1;
}

input[type="text"], input[type="number"] {
	-webkit-transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	box-shadow: none;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #e1e2e4;
	border-radius: 0;
	font-family: "Arial", sans-serif;
	font-size: 1rem;
	padding: 0.75rem 0.5rem;
	outline: none;
}

input:hover {
	border-color: #ACAEB3;
}

input[type="text"]:focus, input:active {
	border-color: #2E2F32;
	box-shadow: none;
	outline: 0 none;
	-webkit-appearance: none;
}

form-control {
	box-shadow: none;
	outline: none;
}

label, label>* {
	font-family: "Arial", sans-serif;
	font-weight: normal;
	pointer-events: none;
}

.booking-form__field {
	margin-top: 0.75rem;
}

.booking-form__field {
	width: 100%;
	float: left;
	clear: left;
}

#trSummary{
	word-wrap: break-word;
    max-width: 823px;
	display: none;
	font-family: sans-serif;
	border: 5px solid white;
	background: white;
	border-radius: 5px;
	padding: 15px;
	margin-top: 10px;
}

.gtySummary{
	display: none;
}

.message{
	word-wrap: break-word;
    max-width: 823px;
	font-family: sans-serif;
	border: 5px solid white;
	background: white;
	border-radius: 5px;
	padding: 15px;
	margin-top: 10px;
}

.right {
	background: #ffffff;
	height: 100%;
	position: absolute;
	right: 0px;
	width: 40%;
}

.demo-navbar{
	padding-left: 15px;
	background-color: #f1f1f1;
}
.demo-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30px;
}

.demo-navbar li{
	display: inline;
	float: left;
	/*text-align: center;  */
}

.demo-navbar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.demo-navbar li:last-child
{
    float:right;
}

li #hostedPCI {
    margin-right: 15px;
    width: 179px;
    height: 24px;
    background: url('../img/logo.png') 0 0;
}

/* Change the link color on hover */
.demo-navbar li a:hover {
    background-color: #555;
    color: white;
}

/* Center the loader */
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin { 
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin { 
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

#modal {
	position: fixed;
	z-index: 999;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: Black;
	filter: alpha(opacity = 60);
	opacity: 0.6;
	-moz-opacity: 0.8;
}

#message, #message1, #message2{
	word-wrap: break-word;
    max-width: 823px;
    border-radius: 4px;
    background-color: #F8F8F8;
    display:none;
}