@CHARSET "UTF-8";
body {
	background-color: #DDDDDD;
}
h1 {
	margin: 30px 0;
	padding: 0 200px 15px 0;
	border-bottom: 1px solid #E5E5E5;
}

.container {
	margin-top: 10px;
}

fieldset {
	font-family: sans-serif;
	background: white;
	border-radius: 5px;
	padding: 15px;
	/* margin-right: -20px; */
	margin-top: 10px;
}

fieldset legend {
	//background: #1F497D;
	background: #FFF;
	//color: #fff;
	color: #026f94;
	padding: 5px 10px;
	font-size: 32px;
	border-radius: 5px 5px 0px 0px;
	//box-shadow: 0 0 0 5px #ddd;
	border-color:#00c8d0;
	border-width: 0px 0px 3px;
	margin-left: 10px;
	margin-right: 60px;
	//width: auto;
}
.btn{
	width:235px;
	min-width:235px;
	background: #026f94;
}
.row {
	margin-top: 5px;
	margin-bottom: 5px;
}
.col-centered {
	float: none;
	margin: 0 auto;
}

#iframe-tokenization{
	display: none;
}