<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HPCIDemoJava6</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>IframeServlet</servlet-name>
    <servlet-class>com.isyn.IframeServlet</servlet-class>
    <url-pattern>/IframeServlet</url-pattern>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>Iframe3DSecServlet</servlet-name>
    <servlet-class>com.isyn.Iframe3DSecServlet</servlet-class>
    <url-pattern>/Iframe3DSecServlet</url-pattern>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>MultipleIframesServlet</servlet-name>
    <servlet-class>com.isyn.MultipleIframesServlet</servlet-class>
    <url-pattern>/MultipleIframesServlet</url-pattern>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>PhoneSessionServlet</servlet-name>
    <servlet-class>com.isyn.PhoneSessionServlet</servlet-class>
    <url-pattern>/PhoneSessionServlet</url-pattern>
  </servlet>
</web-app>